<h1>yo capstone</h1>
<h2><%= @capstone.first_name %></h2>
<h2><%= @capstone.last_name %></h2>
<h2><%= @capstone.name %></h2>
<h3><%= @capstone.url %></h3>
<h3><%= @capstone.description %></h3>
<img src="<%= @capstone.screenshot %>">